################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SKillMatchBE/.vs/SkillMatchBE
/SKillMatchBE/bin/Debug/net10.0
/SKillMatchBE/obj
*.dockerignore

# Local frontend environment variables
/SkillMatchFE/.env
/SkillMatchFE/.env.local
/SkillMatchFE/.env.*.local
